.cover-image {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
  z-index: -2;
  filter: blur(15px);
}

.youtube-video {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 45%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 120px #000;
}

.detail-movie-container {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 43%;
  height: 50%;
  border-radius: 20px;
  color: white;
  display: inline-grid;
  align-items: center;
}

.detail-movie-container .detail-wrapper {
  padding: 0 5%;
}

.detail-movie-container .detail-wrapper .movie-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
}

.detail-movie-container .detail-wrapper .movie-description {
  width: 70%;
}

.detail-movie-container .detail-wrapper .featured-information p {
  margin-right: 16px;
}

.detail-movie-container .detail-wrapper .featured-information .rating-container {
  margin-right: 16px;
  height: 20px;
  color: white;
  border: 2px solid;
  padding: 0px 5px;
}

.detail-movie-container .detail-wrapper .featured-information .rating-container p {
  font-size: 12px;
  line-height: 1.7;
  margin-right: 0px !important;
}

.detail-movie-container .detail-wrapper .movie-rating {
  font-size: 30px !important;
  color: gray;
}

.movie-achievement-container .grid-container .rating .selected-rating {
  color: white;
  float: left;
  display: inline-block;
  background: url('../../img/star.png') 0 0 repeat-x;
  height: 20px;
}

.movie-expand-container {
  background: rgba(255, 255, 255, 0.08);
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 20px;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.left-expand-container {
  background: rgba(255, 255, 255, 0.08);
  width: 44%;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 20px;
  margin-bottom: 50px;
  color: white;
  margin-right: 2%;
  height: fit-content;
}

.right-expand-container {
  background: rgba(255, 255, 255, 0.08);
  width: 44%;
  margin-top: 2%;
  border-radius: 20px;
  margin-bottom: 50px;
  color: white;
  height: fit-content;
}

.movie-expand-container .wrapper {
  width: 96%;
  margin-left: 2%;
}

.movie-achievement-container {
  justify-content: center;
}

.movie-achievement-container .grid-container {
  padding-right: 5%;
  padding-left: 5%;
  border-right: 1px solid #ffffff30;
}

.movie-achievement-container .last-container {
  border: 0;
}

.movie-achievement-container .grid-container .title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.movie-achievement-container .grid-container .sub-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0px;
}

.movie-achievement-container .grid-container .rating .movie-rating {
  color: gray;
}

.movie-achievement-container .grid-container .rating .selected-rating {
  color: white;
}

.section-container {
  margin-top: 4%;
}

.section-container .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-container p {
  margin-bottom: 0px;
}

.section-container .content-name {
  margin-right: 10px;
}

.comment-container {
  margin-bottom: 30px;
}

.comment-container .avatar {
  width: 45px;
  height: 45px;
  font-size: 45px;
  margin-right: 16px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comment-container .content-container {
  flex: 1;
}

.comment-container .content-container .custom-input {
  width: 100%;
  margin-top: -10px;
}

.comment-container .content-container .mdl-textfield__input {
  border-bottom: 1px solid white;
}

.comment-container .content-container .mdl-textfield__label {
  color: white;
}

.comment-container .content-container .submit-button {
  display: block;
  margin-left: auto;
}

.comment-container .content-container p {
  margin-bottom: 0px;
}

.comment-container .content-container .name {
  font-weight: bold;
}