.onlyread{
	color: black !important;
	background-color: #F8F8FF !important;
}

.qr-img{
	position: relative;
    float: center;
    width: 260px;
    height: 260px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-span{
	color: red !important;
}

/*SWITCH CSS*/

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0012;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF0012;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-custom-action{
  height: 23px !important;
}

.custom-width-100{
  width: 100% !important;
}

.no-padding{
  padding: 0px !important;
}

.panel-custom-color-grey2{
  background: #8989891a !important;
  /*color: #0000 !important;*/
}

.panel-custom-color-grey{
  background: #0003 !important;
  /*color: #0000 !important;*/
}

.panel-custom-color-blue{
  background: #009cff33 !important;
}

.sweet-alert {
  background-color: #f0f0f0 !important
}